
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TLG | Login</title>
</head>
<body>
  <div
    class="registration-form"
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
  >
    <h1 class="login-title">We are Fixing the Student Housing Market</h1>
    <h2 class="login-subtitle">Create your account</h2>
    <mat-form-field class="half-width">
      <input class="loginInput" matInput placeholder="Name" type="name" />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input class="loginInput" matInput placeholder="Address" type="address" />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input class="loginInput" matInput placeholder="Email" type="email" />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input class="loginInput" matInput placeholder="Password" type="password" />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input class="loginInput" matInput placeholder="Type of User" type="name" />
    </mat-form-field>
    <button class="btn btn-register" mat-raised-button color="primary">
        Submit
    </button>
  </div>
</body>
</html>