@import '../utils/variables.scss';

body {
  background-color: black;
  background-image: url('https://images.pexels.com/photos/3845512/pexels-photo-3845512.jpeg?cs=srgb&dl=pexels-kelly-lacy-3845512.jpg&fm=jpg')
}

.login-inner {
  background-color: white;
  margin: 200px 50px;
  padding: 100px 70px;
  max-width: 45%;
  box-shadow: 10px 2px 15px #141414
}

.half-width {
  width: 30vw;
}

.frgt-pass {
  text-decoration: none;
  color: #000;
}

.login-subtitle {
  font-weight: 300;
}


.buttons {
  padding: 10px 0px;
}

.login-title {
  font-weight: 500;
}

.btn {
  border-radius: 8px;
  // padding: 0px 10px;
  width: 125px;
  // margin: 5px;
  padding: 4px;
  background-color: $tlg-grey;
}

.btn:hover {
  // border-radius: 15px;
  background-color: $tlg-yellow;
}

a:hover {
  color: $tlg-yellow;
}

.loginInput:active {
  // caret-color: $tlg-yellow;
  border-color: black
}

.mat-form-field-appearance-outline .mat-focused .mat-form-field-outline-thick {
  color: #000 !important;
}