@import '../utils/variables.scss';

.login-form {
    // background-color: white;
  width: 40%;
  padding: 100px 70px;
  border-radius: 20px;
  // box-shadow: 10px 10px 8px #888888;
}

.login-inner {
  width: 80%;
}

.half-width {
  width: 20vw;
}

.frgt-pass {
  text-decoration: none;
  color: #000;
}

.login-subtitle {
  font-weight: 300;
}


.buttons {
  padding: 10px 0px;
}

.login-title {
  font-weight: 500;
}

.btn {
  border-radius: 8px;
  // padding: 0px 10px;
  width: 125px;
  // margin: 5px;
  padding: 4px;
  background-color: $tlg-grey;
}

.btn:hover {
  // border-radius: 15px;
  background-color: $tlg-yellow;
}

a:hover {
  color: $tlg-yellow;
}

.loginInput:active {
  // caret-color: $tlg-yellow;
  border-color: black
}

.mat-form-field-appearance-outline .mat-focused .mat-form-field-outline-thick {
  color: #000 !important;
}