
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div
    class="login-form"
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
  >
    <h1 class="login-title">We are Fixing the Student Housing Market</h1>
    <h2 class="login-subtitle">Login to access your account</h2>
    <mat-form-field class="half-width">
      <input matInput placeholder="Email" type="email" />
    </mat-form-field>
    <mat-form-field class="half-width">
      <input matInput placeholder="Password" type="password" />
    </mat-form-field>
    <div fxlayout="row" fxLayoutAlign="start" fxLayoutGap="6vw">
      <mat-checkbox class="example-margin">Remember Me</mat-checkbox>
      <a class="frgt-pass" routerLink="/register">
        Forgot Password?
      </a>
    </div>
    <div fxlayout="row" fxLayoutAlign="start" fxLayoutGap="1vw">
      <button class="btn btn-login"(submit)="onSubmit()" mat-raised-button color="primary">
        Login
      </button>
      <a routerLink="/register">
        <button class="btn btn-reg" mat-raised-button color="primary">Sign up</button>
      </a>
    </div>
  </div>
</body>
</html>


